.hero{
    position: relative;
    min-height: 100vh;
    margin-top: -5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.hero-center{
    width: 90vw;
    max-width: 1170px;
    display: grid;
    align-items: center;
}

.hero-info h1{
    text-transform: none;
    max-width: 500px;
    margin-bottom: 2rem;
}

.hero-info p {
    max-width: 35em;
    line-height: 1.8;
}

.hero-images {
    display: none;
}
.btn{
    background-color: white;
    height: 40px;
    max-width: 200px;
    color: black;
    font-weight: 700;
    border-radius: 10px;
}


@media screen and (min-width: 800px) {
    .hero::before {
        background-size: contain;
        height: 100%;
    }

    .hero-center {
        grid-template-columns: 2fr 1fr;
    }

    .hero-info h1 {
        font-size: 3rem;
    }

    .hero-info p {
        font-size: 1.25rem;
    }

    .hero-images {
        display: block;
        justify-self: center;
    }

    .phone-img {
        width: 18rem;
    }
}
/* 
@media screen and (min-width: 1200px) {
    .hero-center {
        grid-template-columns: 2fr 1fr;
        align-items: end;
        padding-bottom: 12vh;
    }

    .hero-info h1 {
        max-width: 100%;
        font-size: 5.5rem;
    }

    .hero-images {
        align-self: end;
    }

    .phone-img {
        width: 15rem;
    }
} */
/* 
@media screen and (min-width: 1400px) {
    .hero-center {
        padding-bottom: 20vh;
    }

    .phone-img {
        width: 17rem;
    }
} */